In [7]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import datetime as dt
import sqlalchemy
from sqlalchemy import create_engine

In [10]:
gov_response = pd.DataFrame({'country': ['USA','USA','USA','Mexico','Mexico','Mexico',
                             'Mexico','China','China','Russia','Russia'],
                             'response_id':[2,3,4,5,6,7,8,9,10,11,12],
                             'gov_resp_type': ['military','quarantine','masks','military','quarantine',
                             'masks','military','quarantine','masks','military','quarantine']})
gov_response

   country  response_id gov_resp_type
0      USA            2      military
1      USA            3    quarantine
2      USA            4         masks
3   Mexico            5      military
4   Mexico            6    quarantine
5   Mexico            7         masks
6   Mexico            8      military
7    China            9    quarantine
8    China           10         masks
9   Russia           11      military
10  Russia           12    quarantine

In [13]:
un_government = pd.DataFrame({'country_id':[1,2,3,4],'country': ['USA','Mexico','China','Russia']})

   country_id country
0           1     USA
1           2  Mexico
2           3   China
3           4  Russia

In [ ]:
def